@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F4F6FA;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f5f7;
  }
  
  .statistics-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .card {
    width: 24%;
    display: flex;
    align-items: center;
    padding: 0px;
    height: 100px; /* Adjust height as needed */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}


  
.card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensure alignment to start */
    gap: 10px; /* Adjust gap as needed */
    padding: 10px;
    flex-direction: row-reverse;
    /* Add padding for better spacing */
}

  
  .card-content img {
    max-width: 40px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    overflow: hidden; /* Prevent overflow */
}

  
  .search-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  .table-header {
    padding: 12px;
    text-align: left;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .table-row {
    border-bottom: 1px solid #ddd;
  }
  
  .table-cell {
    padding: 12px;
  }
  






























