.verify-users-container {
    padding: 20px;
    background-color: #f5f7fa;
    font-family: 'Poppins', sans-serif;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
  }
  
  .top-bar {
    display: flex;
    gap: 15px;
  
    flex-direction: row;
  }
  
  .search-input, .date-input, .filter-btn {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .search-input, .date-input {
    width: 200px;
  }
  
  .filter-btn {
    
    color: white;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    font-size: 14px;
  }
  
  .filter-btn:hover {
    
  }
  
  .table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-table th, .users-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .users-table th {
    background-color: #FFFFFF;
    font-weight: bold;
  }
  
  .visiting-card {
    width: 50px;
    height: auto;
    border-radius: 5px;
  }
  
  .edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 8px;
  }
  
  .edit-btn:hover {
    color: #007bff;
  }
  
  .delete-btn:hover {
    color: #ff4d4d;
  }
  
  #datteePickeer input{
    width: 150px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    color: gray;
  }
  #datteePickeer{
    padding: 20px;
  }

  .verify-search{
    display: flex;
    gap: 10px;
    align-items: center; 
  }

  .verify-datepicker{
    font-family: 'Poppins', sans-serif;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #F2F4F8;
  }

  .verify-heading{
    text-align: left;
  }
  .buttonsverify{
    display: flex;
    flex-direction: row;
    gap: 1px;
  }