@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.user-list-container {

    width: 100%;
    padding: 20px;
    background-color: #f8f9fc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid grey;
  }
  
  .user-list-header {
    display: flex;
    
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  
  .user-list-header h2 {
    font-size: 1.5rem;
  }
  
  .user-list-header input[type="text"], 
  .user-list-header input[type="date"] {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-right: 40px;
    
  }
  
  .user-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-list-table th, 
  .user-list-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-list-table th {
    background-color: #FFFFFF;
    color: #333;
  }
  
  .user-list-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .user-list-table .extend-btn {
    font-family: 'Poppins', sans-serif;
    padding: 8px 15px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-list-table .upgrade-btn {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .user-list-table .extend-btn:hover, 
  .user-list-table .upgrade-btn:hover {
    opacity: 0.8;
  }
  
  .datepick{
    margin-left:-19px;
  }

  .freetrial-buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }